/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

.sectionOne {
  background-image: url("../images/apple-pie.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  position: relative;
  margin: 20px;
}
.sectionOne h1 {
  font-size: 6em;
  color: white;
  text-align: center;
  position: relative;
  top: 250px;
}

.paraText {
  display: inline;
  align-items: center;
}

.paraText p {
  margin: 60px 10% 15px;
  border: 20% 20%;
  font-size: 28px;
  text-align:justify;
  font-weight: lighter;
  }

hr {
  width: 80%;
}

.paraText img {
  width: 350px;
  display: block;
  margin: 40px auto 20px;
}

.ingredients {
  margin-top: 40px;
  padding-left: 215px;
  font-size: 30px;
  
}

.ingredients li {
  margin: 10px auto ;
  list-style-type: none;
    
}

#secondImage {
  width: 350px;
  display: block;
  margin: 40px auto 20px;
}

.directions {
  padding-left: 215px;
  padding-right: 208px ;
  font-size: 30px;
  margin-bottom: 50px;
}

.directions h2 {
  margin-bottom: 20px;
}

.directions p {
  font-size: 30px;
}






